{:paths [;; Notebookit löytyy "notebooks" hakemistosta
         "notebooks"

         ;; REPL apuri user.clj löytyy "dev" hakemistosta
         "dev"]
 ;; Kirjastot, joita tässä esimerkissä käytetään
 :deps {;; Clerk kirjasto, jolla notebookkeja voidaan tehdä
        io.github.nextjournal/clerk {:mvn/version "0.11.603"}

        ;; HTTP kyselyjen tekoon (esim. data haku rajapinnoista)
        clj-http/clj-http {:mvn/version "3.12.3"}

        ;; JSON merkijonojen parsintaan Clojure tietorakenteiksi
        metosin/jsonista {:mvn/version "0.3.6"}

        ;; Tiedostojen käsittelyyn, voidaan käyttää esim. kotus zip tiedoston purkamiseen
        babashka/fs {:mvn/version "0.1.11"}}}
